# LLM Provider Configuration (e.g. openai, bedrock, github-models)
LLM_PROVIDER=

# Common Settings
LLM_TEMPERATURE=0.7
LLM_TIMEOUT_MS=60000

# OpenAI Configuration
LLM_OPENAI_API_KEY=
LLM_OPENAI_API_URL=
LLM_OPENAI_API_MODEL=gpt-4o

# GitHub Models Configuration
LLM_GITHUB_MODELS_TOKEN=
GITHUB_TOKEN=
LLM_GITHUB_MODELS_URL=https://models.github.ai/inference
LLM_GITHUB_MODELS_MODEL=gpt-4o

# AWS Bedrock Configuration
LLM_BEDROCK_ENDPOINT_URL=
LLM_BEDROCK_MODEL_ID=
LLM_BEDROCK_GUARDRAIL_ID=
LLM_BEDROCK_GUARDRAIL_VERSION=
LLM_BEDROCK_REGION=eu-central-1
LLM_BEDROCK_ROLE_ARN=
